* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: helvetica neue;
}

footer {
  clear: both;
  /*position: absolute;
  left: 0;
  bottom: 0;*/
  background-color: #31317E;
  width: 100%;
  height: 210px;
}
footer p {
  padding-top: 16%;
  margin-left: 13%;
  font-family: 'Playfair Display', serif;
  color: white;
}
footer .some {
  margin-top: -16%;
  margin-left: 75%;
  font-size: 30px;
  color: white;
}

@media screen and (min-width: 766px) {
  footer p {
    padding-top: 9%;
  }
  footer .some {
    margin-top: -8%;
    margin-left: 80%;
  }
}
@media screen and (min-width: 992px) {
  footer p {
    padding-top: 5%;
  }
  footer .some {
    font-size: 50px;
    margin-top: -5%;
    margin-left: 83%;
  }
}
header .mobileheader {
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: #31317E;
  color: white;
}
header .mobileheader svg {
  float: right;
  margin: 4px 8px;
}
header .mobileheader svg:first-of-type {
  float: left;
}
header .desktopdiv {
  display: none;
}
header .desktopmiddiv {
  display: none;
}

@media screen and (min-width: 768px) {
  header .mobileheader {
    display: none;
  }
  header .desktopdiv {
    display: block;
    height: 40px;
    background-color: #31317E;
  }
  header .desktopdiv p {
    float: left;
    height: 30px;
    padding: 2px 8px;
    margin: 5px 5px;
    color: white;
  }
  header .desktopdiv nav {
    float: right;
  }
  header .desktopdiv nav ul {
    list-style-type: none;
  }
  header .desktopdiv nav ul li {
    display: inline-block;
    width: 123px;
    background-color: #540072;
    height: 31px;
    text-align: center;
    margin: 0px 9px;
  }
  header .desktopdiv nav ul li a {
    text-decoration: none;
    color: black;
    color: white;
    font-size: 19px;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 15%;
  }
  header .desktopmiddiv {
    width: 100%;
    height: 140px;
    display: block;
    background-color: #8A20AA;
  }
  header .desktopmiddiv .logo {
    height: 65px;
    float: left;
    text-align: center;
    margin: 0px 25px;
  }
  header .desktopmiddiv .logo p {
    font-size: 55px;
    top: 115%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: playfair display;
    color: white;
  }
  header .desktopmiddiv .nav2 {
    width: 60%;
    float: left;
  }
  header .desktopmiddiv .nav2 ul {
    list-style-type: none;
    margin-top: 51px;
  }
  header .desktopmiddiv .nav2 ul li {
    display: inline-block;
    width: 16%;
    height: 50px;
    text-align: center;
    font-size: 19px;
    background-color: #31317E;
  }
  header .desktopmiddiv .nav2 ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .desktopmiddiv .search {
    width: 20%;
    height: 50px;
    float: right;
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
    background-color: #31317E;
    margin-right: 30px;
    margin-top: 50px;
    color: white;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #540072;
  }
  body main {
    clear: both;
  }
  body main .leftside {
    width: 50%;
    float: left;
    background-color: white;
  }
  body main .leftside img {
    max-width: 500px;
    height: auto;
    margin: auto;
  }
  body main .rightside {
    float: right;
    width: 50%;
    display: inline;
    height: 400px;
    padding: 50px 100px;
  }
  body main .rightside .box {
    background-color: #B4AEC6;
    color: white;
    padding: 50px 70px;
  }
  body main .rightside .buybuttons {
    width: 100%;
    height: 50px;
    margin-top: 100px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .rightside .buybuttons p {
    margin: 5px;
    padding: 10px;
    color: white;
  }
  body main .rightside .buybuttons button {
    margin: 10px;
    width: 50px;
    background-color: #B4AEC6;
    color: white;
  }
  body main .rightside .buybuttons button:nth-of-type(3) {
    background-color: #B4AEC6;
    width: 200px;
    font-size: 20px;
  }
  body main .minus {
    border: none;
    background-color: red;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin-left: 30%;
  }
  body main .number {
    margin-left: 17%;
  }
  body main .plus {
    display: inline;
    border: none;
    background-color: red;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20%;
  }
  body main .inactive {
    opacity: 0.5;
  }
  body .desktopmiddiv {
    clear: both;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*produktside*/
body {
  background-color: #540072;
}
body main {
  clear: both;
  /*Kundeinformation*/
}
body main img {
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 5%;
}
body main .box {
  width: 85%;
  height: auto;
  margin-top: 10%;
  margin-left: 7%;
  margin-bottom: 10%;
  background-color: #B4AEC6;
}
body main .content {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
}
body main .beskrivelse {
  color: white;
  font-family: 'Playfair Display', serif;
}
body main .buybuttons {
  width: 70%;
  margin: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
body main .minus {
  border: none;
  background-color: red;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin-left: 30%;
}
body main .number {
  margin-left: 17%;
}
body main .plus {
  display: inline;
  border: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20%;
}
body main button {
  background-color: yellow;
}
body main .kundeinformation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #31317E;
  color: white;
  text-align: center;
  margin-bottom: 5%;
}
body main .kundeinformation p {
  padding-top: 2%;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}
body main div {
  width: calc(100%  /3);
  height: 40px;
}
body main .arrow-right {
  /*border-color: white;*/
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent white white transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
body main .box1 p {
  font-size: 3.5vw;
  padding-left: 9%;
  padding-top: 9%;
}
body main .overstbox {
  width: 100%;
  height: 45px;
  background-color: #8A20AA;
}
body main .overstbox p {
  text-align: center;
  padding-top: 3%;
  color: white;
  font-family: 'Playfair Display', serif;
}
body main .ordrebox {
  width: 95%;
  height: 40px;
  background-color: #31317E;
  margin-left: 2.4%;
}
body main .ordrebox p {
  text-align: center;
  color: white;
  padding-top: 2.4%;
  font-family: 'Playfair Display', serif;
}
body main .billetterbox {
  width: 95%;
  height: 40px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-left: 2.4%;
  background-color: #B4AEC6;
}
body main .billetterbox p {
  text-align: center;
  color: white;
  padding-top: 2.4%;
  font-family: 'Playfair Display', serif;
}
body main .artistbox {
  width: 95%;
  height: 80px;
  background-color: #B4AEC6;
  margin-left: 2.4%;
}
body main .artistbox p {
  text-align: left;
  color: white;
  padding-top: 2.4%;
  padding-left: 3%;
  font-family: 'Playfair Display', serif;
}
body main .ialtbox {
  width: 95%;
  height: 40px;
  margin-left: 2.4%;
  background-color: #B4AEC6;
}
body main .ialtbox p {
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  padding-top: 2%;
}
body main .viderebox {
  width: 40%;
  height: 40px;
  background-color: #31317E;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
}
body main .viderebox p {
  color: white;
  font-family: 'Playfair Display', serif;
  padding-left: 30%;
  padding-top: 5%;
  font-size: 5vw;
}
body main .antalbilletter {
  width: 95%;
  height: 30px;
  background-color: #31317E;
  margin-left: 2.4%;
}
body main .antalbilletter p {
  color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-top: 1.5%;
}
body main .ordre {
  width: 95%;
  height: 190px;
  margin-left: 2.4%;
  background-color: #B4AEC6;
}
body main .ordre p {
  color: white;
  font-family: 'Playfair Display', serif;
  padding-top: 5%;
  margin-left: 2%;
}
body main .ordre span {
  float: right;
  margin-right: 2%;
  font-family: 'Playfair Display', serif;
}
body main .betaling {
  width: 50%;
  height: 50px;
  margin-top: 12%;
  margin-left: 25%;
  background-color: #31317E;
}
body main .betaling p {
  padding-top: 6%;
  padding-left: 22%;
  font-family: 'Playfair Display', serif;
  color: white;
}

@media screen and (min-width: 768px) {
  .desktopmiddiv {
    clear: both;
  }
}
