* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: helvetica neue;
}

footer {
  clear: both;
  /*position: absolute;
  left: 0;
  bottom: 0;*/
  background-color: #31317E;
  width: 100%;
  height: 210px;
}
footer p {
  padding-top: 16%;
  margin-left: 13%;
  font-family: 'Playfair Display', serif;
  color: white;
}
footer .some {
  margin-top: -16%;
  margin-left: 75%;
  font-size: 30px;
  color: white;
}

@media screen and (min-width: 766px) {
  footer p {
    padding-top: 9%;
  }
  footer .some {
    margin-top: -8%;
    margin-left: 80%;
  }
}
@media screen and (min-width: 992px) {
  footer p {
    padding-top: 5%;
  }
  footer .some {
    font-size: 50px;
    margin-top: -5%;
    margin-left: 83%;
  }
}
header .mobileheader {
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: #31317E;
  color: white;
}
header .mobileheader svg {
  float: right;
  margin: 4px 8px;
}
header .mobileheader svg:first-of-type {
  float: left;
}
header .desktopdiv {
  display: none;
}
header .desktopmiddiv {
  display: none;
}

@media screen and (min-width: 768px) {
  header .mobileheader {
    display: none;
  }
  header .desktopdiv {
    display: block;
    height: 40px;
    background-color: #31317E;
  }
  header .desktopdiv p {
    float: left;
    height: 30px;
    padding: 2px 8px;
    margin: 5px 5px;
    color: white;
  }
  header .desktopdiv nav {
    float: right;
  }
  header .desktopdiv nav ul {
    list-style-type: none;
  }
  header .desktopdiv nav ul li {
    display: inline-block;
    width: 123px;
    background-color: #540072;
    height: 31px;
    text-align: center;
    margin: 0px 9px;
  }
  header .desktopdiv nav ul li a {
    text-decoration: none;
    color: black;
    color: white;
    font-size: 19px;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 15%;
  }
  header .desktopmiddiv {
    width: 100%;
    height: 140px;
    display: block;
    background-color: #8A20AA;
  }
  header .desktopmiddiv .logo {
    height: 65px;
    float: left;
    text-align: center;
    margin: 0px 25px;
  }
  header .desktopmiddiv .logo p {
    font-size: 55px;
    top: 115%;
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-family: playfair display;
    color: white;
  }
  header .desktopmiddiv .nav2 {
    width: 60%;
    float: left;
  }
  header .desktopmiddiv .nav2 ul {
    list-style-type: none;
    margin-top: 51px;
  }
  header .desktopmiddiv .nav2 ul li {
    display: inline-block;
    width: 16%;
    height: 50px;
    text-align: center;
    font-size: 19px;
    background-color: #31317E;
  }
  header .desktopmiddiv .nav2 ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 25%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .desktopmiddiv .search {
    width: 20%;
    height: 50px;
    float: right;
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
    background-color: #31317E;
    margin-right: 30px;
    margin-top: 50px;
    color: white;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #540072;
  }
  body main {
    clear: both;
  }
  body main .leftside {
    width: 50%;
    float: left;
    background-color: white;
  }
  body main .leftside img {
    max-width: 500px;
    height: auto;
    margin: auto;
  }
  body main .rightside {
    float: right;
    width: 50%;
    display: inline;
    height: 400px;
    padding: 50px 100px;
  }
  body main .rightside .box {
    background-color: #B4AEC6;
    color: white;
    padding: 50px 70px;
  }
  body main .rightside .buybuttons {
    width: 100%;
    height: 50px;
    margin-top: 100px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .rightside .buybuttons p {
    margin: 5px;
    padding: 10px;
    color: white;
  }
  body main .rightside .buybuttons button {
    margin: 10px;
    width: 50px;
    background-color: #B4AEC6;
    color: white;
  }
  body main .rightside .buybuttons button:nth-of-type(3) {
    background-color: #B4AEC6;
    width: 200px;
    font-size: 20px;
  }
  body main .minus {
    border: none;
    background-color: red;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin-left: 30%;
  }
  body main .number {
    margin-left: 17%;
  }
  body main .plus {
    display: inline;
    border: none;
    background-color: red;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20%;
  }
  body main .inactive {
    opacity: 0.5;
  }
  body .desktopmiddiv {
    clear: both;
  }
}
