* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*produktside*/
body {
  background-color:#540072;

main {
  clear: both;


  img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
  }

  .box {
    width: 85%;
    height: auto;
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 10%;
    background-color: #B4AEC6;
  }

  .content {
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
  }

  .beskrivelse {
    color: white;
    font-family: 'Playfair Display', serif;
  }

  .buybuttons {
    width: 70%;
    margin: auto;
    display: inline-flex;
  }

.minus {

  border: none;
  background-color: red;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 16px;
  margin-left: 30%;

}

.number {

  margin-left: 17%;

}

.plus {
  display: inline;
  border: none;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20%;

}

button {
  background-color: yellow;
}

/*Kundeinformation*/

.kundeinformation {
  display:flex;
  background:#31317E;
  color: white;
  text-align: center;
  margin-bottom: 5%;
}

.kundeinformation p {
  padding-top: 2%;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

div {
  width: calc(100%  /3);
  height: 40px;
}

.arrow-right {
  /*border-color: white;*/
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-width:1px;
  border-style:solid;
  border-color:transparent white white transparent;
  transform:rotate(-45deg);
}

.box1 p{
  font-size: 3.5vw;
  padding-left: 9%;
  padding-top: 9%;
}

.overstbox {
  width: 100%;
  height: 45px;
  background-color: #8A20AA;

}

.overstbox p {
  text-align: center;
  padding-top: 3%;
  color: white;
  font-family: 'Playfair Display', serif;
}

.ordrebox {
  width: 95%;
  height: 40px;
  background-color: #31317E;
  margin-left: 2.4%;
}

.ordrebox p {
  text-align: center;
  color: white;
  padding-top: 2.4%;
  font-family: 'Playfair Display', serif;
}

.billetterbox {
  width: 95%;
  height: 40px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-left: 2.4%;
  background-color: #B4AEC6;
}

.billetterbox p {
  text-align: center;
  color: white;
  padding-top: 2.4%;
  font-family: 'Playfair Display', serif;
}

.artistbox {
  width: 95%;
  height: 80px;
  background-color: #B4AEC6;
  margin-left: 2.4%;

}

.artistbox p {
  text-align: left;
  color: white;
  padding-top: 2.4%;
  padding-left: 3%;
  font-family: 'Playfair Display', serif;

}

.ialtbox {
  width: 95%;
  height: 40px;
  margin-left: 2.4%;
  background-color: #B4AEC6;


}

.ialtbox p {
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  padding-top: 2%;

}

.viderebox {
  width: 40%;
  height: 40px;
  background-color: #31317E;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;

}

.viderebox p {
  color: white;
  font-family: 'Playfair Display', serif;
  padding-left: 30%;
  padding-top: 5%;
  font-size: 5vw;

}

.antalbilletter {
  width: 95%;
  height: 30px;
  background-color: #31317E;
  margin-left: 2.4%;

}

.antalbilletter p {
  color: white;
  text-align: center;
  font-family: 'Playfair Display', serif;
  padding-top: 1.5%;
}

.ordre {
  width: 95%;
  height: 190px;
  margin-left: 2.4%;
  background-color: #B4AEC6;
}

.ordre p {
  color: white;
font-family: 'Playfair Display', serif;
  padding-top: 5%;
  margin-left: 2%;
}

.ordre span {
  float: right;
  margin-right: 2%;
  font-family: 'Playfair Display', serif;
}

.betaling {
  width: 50%;
  height: 50px;
  margin-top: 12%;
  margin-left: 25%;
  background-color: #31317E;

}

.betaling p {
  padding-top: 6%;
  padding-left: 22%;
  font-family: 'Playfair Display', serif;
  color: white;


}

}
}

@media screen and (min-width: 768px) {
  .desktopmiddiv{
    clear: both;
  }
}
